.modal
  .modal-body
    img
      display: block
      max-width: 400px
      height: auto
      +mx(auto)
      margin-top: 1rem
    figcaption
      text-align: center
      margin: 1rem 0
    .embed-responsive
      max-width: 80%
    h1, h2, h3, h4
      background-color: rgba(white,1)
      position: sticky
      padding-top: 1rem
      top: 0

@media (max-width: 575.98px)
  .modal-body
    img
      width: 100%

@media (min-width: 768px)
  .modal-lg
    max-width: 700px

@media (min-width: 992px)
  .modal-lg
    max-width: 900px

@media (min-width: 1200px)
  .modal-lg
    max-width: 1100px

// 自訂modal顯示動畫
.fade2
  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1)
  transform: translateY(100%)
  opacity: 0
  &.show
    opacity: 1
    transform: scale(1)
