script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js')
script(src='https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jump.js/1.0.2/jump.min.js')
script(src='https://unpkg.com/marked@0.3.6')
script(src='https://cdnjs.cloudflare.com/ajax/libs/rellax/1.6.2/rellax.min.js')
script(defer, src='https://use.fontawesome.com/releases/v5.0.8/js/all.js', integrity='sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ', crossorigin='anonymous')
script(src='js/app.min.js' + filenameSuffix)
