- var filenameSuffix = '?' + (new Date()).getTime()

link(rel='stylesheet', href='https://bootswatch.com/4/lux/bootstrap.min.css')
link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css')
link(rel='stylesheet', href='css/style.css' + filenameSuffix)
