$ngsek: #ffd019
$ngsek-dark: darken(#ffd019, 10%)
$black: #1e1e1e

.btn-github
  background-color: #0e2635
  color: white
  &:hover
    color: white
    background-color: #0b1d28

.btn-ngsek
  background-color: $ngsek
  color: $black
  &:hover
    color: $black
    background-color: $ngsek-dark

.text-ngsek
  color: $ngsek

.bg-ngsek
  background-color: $ngsek
