@import "color"
@import "function"
@import "animation"
@media (max-width: 575.98px)
  html
    font-size: 15px   // 調整手機版字體大小

body
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft JhengHei"

main
  overflow-x: hidden

// 通用
.flex-vertical
  display: flex
  align-items: center

// 為按鈕加入右下margin
.btn
  margin-right: .25rem
  margin-bottom: .25rem