@import "_color.sass"
@import "_function.sass"
@import "_animation.sass"
@media (max-width: 575.98px)
  html
    font-size: 15px   // 調整手機版字體大小

body
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft JhengHei"
  

main
  overflow-x: hidden

// 通用
.flex-vertical
  display: flex
  align-items: center

// 為按鈕加入右下margin
.btn
  margin-right: .25rem
  margin-bottom: .25rem
  
.medium-zoom-overlay
  z-index: 1050
  
.medium-zoom-image.medium-zoom-image--opened
  z-index: 1051

::selection
  background-color: rgba($ngsek, .5)
  color: $black