doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='author', content='Huang Xingqiao')
    meta(name='description', content='Works by Huang Xingqiao. “N̂gsek ê góa” means THE YELLOW ME.')
    link(rel='icon', type='image/png', href='./favicon.png')
    title Ngsek E Goa
    include include/style.pug

  body
    #page
      header
        // Navbar
        nav#nav.navbar.navbar-expand-sm.navbar-light.fixed-top
          .container
            a.navbar-brand(href='#page')
              img.img-fluid(src='./favicon.png', alt='Logo')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarContent')
              i.fas.fa-ellipsis-h
            #navbarContent.collapse.navbar-collapse
              ul.navbar-nav.mr-auto
                li.nav-item.dropdown
                  a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Works
                  .dropdown-menu
                    h6.dropdown-header.text-ngsek Website
                    a.dropdown-item(href='#emo') EM Optimization Lab
                    a.dropdown-item(href='#boss') Boss
                    .dropdown-divider
                    h6.dropdown-header.text-ngsek Game
                    a.dropdown-item(href='#typingtyping') Typing Typing!
                    .dropdown-divider
                    h6.dropdown-header.text-ngsek Art
                    a.dropdown-item(href='#shanlinliang') Shanlinliang
                    a.dropdown-item(href='#camp2017') Kuaichao Bujia La, Guozi Bujia Tang
                    a.dropdown-item(href='#jingshixifu') Jingshi Xifu
                li.nav-item
                  a.nav-link(href='#about') About
                li.nav-item
                  a.nav-link(href='https://github.com/a92304a92304/x-q.me') Github
                      
        // Index Cover Image
        .jumbotron.jumbotron-fluid.ngsek.flex-vertical(:style='asWindowHeightStyle')
          .container
            .row.justify-content-center
              .col-12.col-lg-5.text-center
                img.img-fluid.sr(src='img/ngsek-01.svg', alt='黃色的我', title='黃色的我')
                a.btn.btn-light.scroll-down-btn(href='#', @click='ScrollToMain()')
                  i.fas.fa-angle-down
                    
      main
        // em optimization lab
        section#emo
          .container
            .row.justify-content-around.align-items-center
              .col-12.col-md-5.mb-3
                .work-img
                  img.img-fluid.cover(src='img/emo/cover.png', alt='emo cover')
              .col-12.col-md-5
                .work-content
                  img(src='img/emo/logo.svg', alt='emo logo')
                  h2.text-light EM Optimization Lab
                  h5.text-light 電磁最佳化實驗室網站
                  a.btn.btn-sm.btn-primary(href='http://www.ntut.edu.tw/~yschen', target='_blank') Demo
                  a.btn.btn-sm.btn-github(href='https://github.com/a92304a92304/EM', target='_blank')
                    i.fab.fa-github-alt
                    |  Github
                    
        // Boss
        section#boss
          .container
            .row.justify-content-around.align-items-center
              .col-12.col-md-5.mb-3
                .work-img
                  img.img-fluid.cover(src='img/boss/cover.png', alt='boss cover')
                  .chunchicha-small-sr
                    img.chunchicha-small.d-none.d-lg-block(src='img/boss/product.png', title="We don't actually sell this.")
              .col-12.col-md-5
                .work-content
                  h2.text-light BOSS
                  h5.text-light 線上飲料購物系統
                  a.btn.btn-sm.btn-primary(href='#', @click.prevent="FetchDetail('boss')") Detail
                  a.btn.btn-sm.btn-primary(href='http://boss.x-q.me', target='_blank') Demo
                  a.btn.btn-sm.btn-github(href='https://github.com/a92304a92304/boss', target='_blank')
                    i.fab.fa-github-alt
                    |  Github
                    
        // Typing Typing!
        section#typingtyping
          .container
            .row.justify-content-around.align-items-center
              .col-12.col-md-6.mb-3
                .work-img
                  img.img-fluid.cover(src='img/typingtyping/cover.png', key='0')
                  img.img-fluid.cover(src='img/typingtyping/cover1.png', hidden='', key='1')
              .col-12.col-md-5
                .work-content
                  h2 Typing Typing!
                  h5 8-bit 風格打字遊戲
                  a.btn.btn-sm.btn-primary(href='#', @click.prevent="FetchDetail('typingtyping')") Detail
                  a.btn.btn-sm.btn-primary(href='./file/TypingTyping.zip', target='_blank', data-toggle='tooltip', data-placement='bottom', title='7.7mb')
                    i.fas.fa-download
                    |  Download
                  a.btn.btn-sm.btn-github(href='https://github.com/a92304a92304/Typing-Typing', target='_blank')
                    i.fab.fa-github-alt
                    |  Github
                    
        // Shanlinliang
        section#shanlinliang
          .container
            .row.justify-content-around.align-items-center
              .col-12.col-md-6.mb-3
                .work-img
                  img.img-fluid.cover(src='img/shanlinliang/cover.png')
              .col-12.col-md-5
                .work-content
                  img.img-fluid(src='img/shanlinliang/cover2.png', alt='Shanlinliang')
                  h5.text-light 涼扇領導品牌
                  a.btn.btn-sm.btn-primary(href='#', @click.prevent="FetchDetail('shanlinliang')") Detail
                  a.btn.btn-sm.btn-primary(href='./shanlinliang', target='_blank') Demo
                  
        // 2017CAMP
        section#camp2017
          .container
            .row.justify-content-around.align-items-center
              .col-12.col-md-5
                .work-content0
                  img.img-fluid.camp-sr(src='img/camp2017/logo.png')
                  h5.mt-3.camp-sr 2017迎新
                  a.btn.btn-sm.btn-primary.camp-sr(href='#', @click.prevent="FetchDetail('camp2017')") Detail
                  
        // JINGSHI XIFU
        section#jingshixifu
          .container
            .row.justify-content-around.align-items-center
              .col-12.col-md-5
                .work-content0
                  img.img-fluid.camp-sr(src='img/jingshixifu/logo.png', title='*無辜* 倫家哪知道婆婆捅一下就不行了辣 >///<')
                  h5.mt-3.camp-sr 台灣經典鄉土劇
                  a.btn.btn-sm.btn-primary.camp-sr(href='#', @click.prevent="FetchDetail('jingshixifu')") Detail
          .ink
            img.img-fluid(src='img/jingshixifu/ink.png', alt='血跡')
              
        // About
        section#about
          .container
            .row.justify-content-around.align-items-center
              .col-12.col-md-8.profile
                .card
                  .card-body
                    .row
                      .col-12.col-lg-3.text-center
                        img.text-center.img-fluid.rounded-circle.mb-3(src='img/profile.jpg', style='filter:grayscale(1); max-height:8rem;')
                      .col-12.col-lg-9.mt-3
                        h4.text-center.text-lg-left.name.profile-item(title='ㄏㄨㄤˊㄒㄧㄥˇㄑㄧㄠˊ') 黃省喬
                        h6.mb-2.text-muted.text-center.text-lg-left.profile-item Huang Xingqiao
                        p.text-center.text-lg-left.profile-item
                          small.mr-3(title='Education')
                            i.fa.fa-book
                            |  NTUT / CSIE
                          small.mr-3(title='Location')
                            i.fa.fa-map-marker
                            |  Taipei, Taiwan
                        hr
                        p.profile-item.text-center.text-lg-left
                          | 北科資工系大三，專注於網頁設計前後端。
                          
                        p.mb-4.text-center.text-lg-left
                          span.skill(v-for='s in profile.skills')
                            span(v-html='s.icon', :title='s.title')
                          span.skill.text Pug
                          
                        // Social Icons
                        p.text-center.text-lg-left.profile-item
                          a.btn-social.mr-2(:href='s.url', target='_blank', v-for='s in profile.socials', :title='s.title')
                            i(:class='s.icon')
                              
      // Detail Modal
      #modal-detail.modal.fade2(tabindex='-1')
        .modal-dialog.modal-lg.modal-dialog-centered
          .modal-content
            .modal-header
              h5.modal-title
              button.close(type='button', data-dismiss='modal')
                span(aria-hidden='true') ×
            .modal-body
            .modal-footer(data-dismiss='modal')
              h6 Close
              
      footer.text-center.py-5(@click="Jump('body')")
        div
          | Designed by Huang Xingqiao © 2018 
          a(href='http://x-q.me') x-q.me
          
    include include/script.pug
